body{ 	font-family: helvetica;         height:2500px;					font-size:14px;                 	overflow-x:hidden;
		background:#ddd;              	z-index:1;                  	position:relative;}
*{
-webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
     -o-box-sizing:border-box;
        box-sizing:border-box;
        margin:0;                   	padding:0;                      /*ransition:all 0.5s ease-out;*/   	list-style-type:none;}

@font-face {
    font-family: 'quotes'; /*a name to be used later*/
    src: url('http://domain.com/fonts/font.ttf'); /*URL to font*/
}
/* color---- #dadada    */
br,hr {margin: 0.6em 0;}

div.BG img {
	width: 100vw;							
	box-shadow: 0 0 80px 80px #ddd inset;}

content {display: block;				justify-content: center;		max-width: 1400px;					margin: 0 auto;}
div.space {width: 100%;					height:90px;}

.wrapper {display: flex;}
.box-shadow {box-shadow: 0 0 5px 10px #ccc;}
.box-shadow2 {box-shadow: 0 0 1px 2px #ccc;}
.flex-sub{padding: 1.5em 2%;			justify-content: space-between;}
.user-img {width: 400px;				background: #69D2E7;}
.user-quote {flex: 1;					background: #69D2E7;			color:#444;							font-size: 2em;
font-family: 'quotes';}

.wrapper-sub {padding: 0 2%;}
.twitter {flex:1.35;						height: 500px;}
.test2 {flex:5;							height: 500px;}
.test3 {flex:2.8;						height: 500px;					text-align: center;}
.test3 h3, .test3 h4{color: #333;}
h1,h2 {font-size: 28px;				padding: 0 0 0.5em 0}
h3,h4,h5 {font-size:20px;			padding: 0 0 0.5em 0;}
p {margin-bottom: 0.5em;}
.test2 p {font-size: 17px;}
.test2 h1,.test2 h2,.test2 h3 {padding: 0em 0 0.5em 5em;}
.test2 h1:after,.test2 h2:after,.test2 h3:after {}
.test2 .columns {
-webkit-columns: 3; /* Chrome, Safari, Opera */
   -moz-columns: 3; /* Firefox */
    -ms-columns: 3;
     -o-columns: 3;
        columns: 3;
-webkit-column-rule: 2px dashed #333; /* Chrome, Safari, Opera */
   -moz-column-rule: 2px dashed #333; /* Firefox */
    -ms-column-rule: 2px dashed #333;
     -o-column-rule: 2px dashed #333;
        column-rule: 2px dashed #333;
}

span.quote {font-size: 0.6em;}


img.user {	
background-size:cover;
width:240px;		height: 240px;	
outline: 4px #000;	
box-shadow: 0 0 8px 8px #ccc;	border-radius: 100%;
position: absolute;			margin: -74px 0 0 120px;}


div.progress-bar {display: block;
		width: 100%;					height: 2em;					background-color: #fff;			padding: 0.2em 0.25em;
		border-radius: 2em;				margin-bottom: 0.6em;}
div.progress-bar span p {color: #69D2E7; font-weight: 600;				font-size:1.3em; 				padding: 0.5px 0 0 0.2em;}
div.progress-bar span.other p {color: #444; 		position: absolute;	right: 6.5em;}
div.progress-bar .clear{
	display: flex;						background-color: #69D2E7;		width: 100%;					height: 100%;
	border-radius: 2em;					margin-top: 0px;
}/*Creates bacground*/
div.progress-bar .progress{
	background-color: #BD2031;
	border-top-left-radius: 2em;		border-bottom-left-radius: 2em;
	border-top-right-radius: .4em;		border-bottom-right-radius: .4em;
}div.progress-bar .non{z-index: -1;		background-color: transparent; } /*Creates flex value*/

div.PB-header {display: flex;			clear: both;}
div.PB-header h4 {flex: 1;}
div.PB-header .left  { text-align: left;}
div.PB-header .center{ text-align: center;}
div.PB-header .right { text-align: right;}

#pWeek1 {flex: 2.5;}
#nWeek1 {flex: 4.5;}
#pWeek1-2 {flex: 1;}
#nWeek1-2 {flex: 6;}
#pWeek2 {flex: 0;}
#nWeek2 {flex: 1;}


/* ------------------------------- https://fribly.com/2015/01/01/scalable-responsive-progress-bar/ ------------------------------*/

ol.progress {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #849397;
  background-color: transparent;
}
ol.progress > li {
  position: relative;
  display: table-cell;
  text-align: center;
  font-size: 0.77em;
}
ol.progress > li:before {
  content: attr(data-step);
  display: block;
  margin: 0 auto;
  background: #DFE3E4;
  width: 3em;
  height: 3em;
  text-align: center;
  margin-bottom: 0.25em;
  line-height: 3em;
  border-radius: 100%;
  position: relative;
  z-index: 1000;
}
ol.progress > li:after {
  content: '';
  position: absolute;
  display: block;
  background: #DFE3E4;
  width: 100%;
  height: 0.5em;
  top: 1.25em;
  left: 50%;
  margin-left: 1.5em\9;
  z-index: -1;
}
ol.progress > li:last-child:after {
  display: none;
}
ol.progress > li.is-complete {
  color: #2ECC71;
}
ol.progress > li.is-complete:before, .progress > li.is-complete:after {
  color: #FFF;
  background: #2ECC71;
}
ol.progress > li.is-active {
  color: #3498DB;
}
ol.progress > li.is-active:before {
  color: #FFF;
  background: #3498DB;
}

/**
 * Needed for IE8
 */
ol.progress__last:after {
  display: none !important;
}

/**
 * Size Extensions
 */
ol.progress--medium {
  font-size: 1.5em;
}

ol.progress--large {
  font-size: 2em;
}

ol.progress {
  margin-bottom: 2em;
}
/* ------------------------------- https://codepen.io/cliffpyles/pen/xbsiC ------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Lato:700);
*,
*:before,
*:after {
  box-sizing: border-box;
}
.set-size {
  font-size: 8.9em;
}
.charts-container:after {
  clear: both;
  content: "";
  display: table;
}
.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative;
}
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.6em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #bdc3c7;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}
.pie-wrapper.progress-liakov .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-liakov .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-liakov .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-liakov .pie .left-side {
  -webkit-transform: rotate(288deg);
          transform: rotate(288deg);
}
.pie-wrapper.progress-69 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-69 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-69 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-69 .pie .left-side {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}
.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-90 .pie .left-side {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
}
.pie-wrapper.progress-sLongJump .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-sLongJump .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-sLongJump .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-sLongJump .pie .left-side {
  -webkit-transform: rotate(286deg);
          transform: rotate(286deg);
}
.pie-wrapper.progress-throwInn .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-throwInn .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-throwInn .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-throwInn .pie .left-side {
  -webkit-transform: rotate(227deg);
          transform: rotate(227deg);
}
.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;
}
.pie-wrapper--solid:before {
  border-radius: 0 100% 100% 0%;
  content: '';
  display: block;
  height: 100%;
  margin-left: 50%;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.pie-wrapper--solid .label {
  background: transparent;
}
.pie-wrapper--solid.progress-65 {
  background: -webkit-linear-gradient(left, #e67e22 50%, #34495e 50%);
  background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-65:before {
  background: #e67e22;
  -webkit-transform: rotate(126deg);
          transform: rotate(126deg);
}
.pie-wrapper--solid.progress-25 {
  background: -webkit-linear-gradient(left, #9b59b6 50%, #34495e 50%);
  background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-25:before {
  background: #34495e;
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}
.pie-wrapper--solid.progress-88 {
  background: -webkit-linear-gradient(left, #3498db 50%, #34495e 50%);
  background: linear-gradient(to right, #3498db 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-88:before {
  background: #3498db;
  -webkit-transform: rotate(43.2deg);
          transform: rotate(43.2deg);
}


.right {float:right;}
/* ------------------------------- Neew menu ------------------------------*/
nav.top-menu 	{display: flex;			background-color: ;		justify-content: center;					margin-top: 1em;}
nav.top-menu ul	{display: flex;			width:1000px;					}
nav.top-menu li	{flex: 1;}
nav.top-menu a 	{display:block;			text-align: center; 			padding: 0.5em 0 0.35em 0;					color: #000;
				 text-decoration: none;	font-weight: 600;				font-size: 1.5em;					transition: all 0.4s ease;
				 border-bottom: 0.2em solid #000;}
nav.top-menu a:hover{border-bottom-color: #69D2E7;		color: #20b2aa;	}
