body{ 	font-family: helvetica;         height:2500px;			font-size:14px;                 	overflow-x:hidden;
		background:#ddd;              	z-index:1;              position:relative;}
*{
-webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
     -o-box-sizing:border-box;
        box-sizing:border-box;
        margin:0;                   	padding:0;                      /*ransition:all 0.5s ease-out;*/   	list-style-type:none;}
main {	margin: 0 auto;			display:flex; 			flex-direction: column;			justify-items: center;
	height: 100vh;
}

main h1 {font-size: 90vh;}

br {height: 0.4em;}


@media screen and (max-width: 1024px) {
	main h1 {height: 40vw;}
}
